:root {
  font-family: sans-serif;
  box-sizing: border-box;
  --light-grey: #e6e6e6;
  --dark-grey: #1e1e1e;
  --orange: #f54748;
  --white: #ffffff;
  --gradientblack: linear-gradient(180deg, rgba(245, 71, 72, 0.06) 0%, rgba(245, 71, 72, 0) 100%);
  --gradientwhite: linear-gradient(180deg, rgba(245, 71, 72, 0.06) 0%, rgba(245, 71, 72, 0) 100%);
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--light-grey);
    --accent-color: var(--orange);
    --page-background-color: var(--dark-grey);
    --card-background-color: var(--dark-grey);
    --gradient: var(--gradientblack);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--dark-grey);
    --accent-color: var(--orange);
    --page-background-color: var(--dark-grey);
    --card-background-color: var(--white);
    --gradient: var(--gradientwhite);
  }
}
body[data-theme="dark"] {
  --text-color: var(--light-grey);
  --accent-color: var(--orange);
  --page-background-color: var(--dark-grey);
  --card-background-color: var(--dark-grey);
  --gradient: var(--gradientblack);
}
body[data-theme="light"] {
  --text-color: var(--dark-grey);
  --accent-color: var(--orange);
  --page-background-color: var(--accent);
  --card-background-color: var(--white);
  --gradient: var(--gradientwhite);
}
body {
  min-height: 100vh;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  background-color: var(--page-background-color);
  transition: all 250ms linear;
  margin: 0;
  font-family: "Sofia Pro", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.btnform {
  background-color: var(--accent-color);
  border-radius: 100px;
  border: none;
  cursor: pointer;
}
.first {
  color: #f54748;
}
.second {
  color: #fdc55e;
}
.rectangle {
  position: absolute;
  width: 1440px;
  height: 788px;
  left: -170px;
  top: 10px;
  background: var(--gradient);
}
.logo {
  position: absolute;
  width: 121px;
  height: 78px;
  left: 70px;
  top: 32px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.navbar {
  /* Auto layout */
  position: absolute;
  padding: 12px;
  width: 78%;
  top: 10%;
  height: 48px;
  left: 30%;
}
.navbar ul {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.navbar ul li {
  display: inline-block;
  list-style: none;
  padding: 0 15px;
}
.navbar ul li a {
  color: var(--text-color);
  text-decoration: none;
}
.navbar button {
  position: absolute;
  top: 5px;
  right: 190px;
  padding: 10px;
  color: var(--text-color);
  background-color: var(--accent-color);
  border-radius: 100px;
  border: none;
  cursor: pointer;
}
.aside-top .aside1 {
  position: absolute;
  width: 139px;
  height: 28px;
  left: 76px;
  top: 212px;
  background: #f547471e;
  border-radius: 100px;
}
.aside-top .aside1 img {
  width: 20px;
  height: 20px;
}
.aside-top .aside1 img span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #191919;
  left: 107px;
  top: 217px;
  /* identical to box height */
}
.aside-top .aside2 {
  position: absolute;
  left: 4.86%;
  right: 58.33%;
  top: 40%;
}
.aside-top .aside2 h2 {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 58px;
  line-height: 78px;
}
.aside-top .aside2 img {
  position: absolute;
  width: 263px;
  height: 8.2px;
  left: 208px;
  top: 200px;
}
.aside-top .aside2 p {
  position: absolute;
  width: 517px;
  height: 96px;
  left: 20px;
  top: 225px;
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.01em;
  color: var(--text-color);
}
.search {
  position: relative;
  top: 85px;
}
.search form .lupa input {
  position: absolute;
  width: 371px;
  height: 38px;
  border: 0.5px solid;
  border-radius: 100px;
  padding-left: 30px;
  color: var(--text-color);
}
.search form .lupa .lupa1 {
  position: relative;
  width: 35px;
  height: 35px;
  top: 3px;
  left: 365px;
  z-index: 500;
}
.search form .lupa .lupa2 {
  position: relative;
  width: 20px;
  height: 20px;
  left: -35px;
  top: 0px;
  z-index: 100;
}
.search .btnplay {
  height: 55px;
  display: flex;
  width: 70%;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 17px;
}
.search .btnplay button {
  width: 132px;
  height: 35px;
  top: 50px;
  background-color: var(--accent-color);
  border-radius: 100px;
  border: none;
  cursor: pointer;
  color: var(--text-color);
}
.search .btnplay img {
  width: 52px;
  height: 52px;
  position: relative;
  top: 5px;
  left: 0px;
}
.aside3 {
  position: relative;
  width: 508px;
  height: 440px;
  left: 260px;
  top: 169px;
}
.aside3 img {
  position: relative;
  z-index: -1;
  bottom: 170px;
  width: 588px;
  height: 736.5px;
}
.main h3 {
  position: relative;
  color: var(--text-color);
  font-size: 48px;
  font-weight: 900, Black;
  font-family: "Sofia Pro", sans-serif;
  line-height: 67px;
  width: 571px;
  height: 67px;
  left: 140px;
  top: 344px;
}
.main h3 .first {
  color: #f54748;
}
.main p {
  opacity: 0.8;
  position: relative;
  width: 856px;
  height: 48px;
  top: 323px;
  line-height: 24px;
  font-weight: 400, Regular;
  font-size: 20px;
  text-align: center;
  color: var(--text-color);
}
.main2 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  left: 10px;
  top: 480px;
  width: 100%;
  height: 516px;
}
.main2 .container {
  background-image: url(../images/background-product.png);
  width: 310px;
  height: 368px;
}
.main2 .container .image-main {
  position: relative;
  width: 253.93px;
  height: 253.93px;
  left: 30px;
  top: -100px;
}
.main2 .container .image-clients {
  position: relative;
  width: 156px;
  height: 38px;
  left: 100px;
  bottom: 100px;
  align-items: center;
  margin: 0;
}
.main2 .container .image-clients .img1 {
  width: 70px;
  height: 34px;
}
.main2 .container .image-clients .img2 {
  width: 28px;
  height: 28px;
}
.main2 .container .image-clients div {
  display: inline-block;
  width: 72px;
  height: 28px;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  max-width: fit-content;
  color: var(--text-color);
}
.main2 .container .title-main {
  position: relative;
  width: 72px;
  height: 33px;
  left: 125px;
  bottom: 130px;
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--text-color);
}
.main2 .container .p-main {
  opacity: 0.8;
  position: relative;
  text-align: center;
  width: 240px;
  font-weight: 400;
  font-size: 16px;
  font-family: "Sofia Pro", sans-serif;
  bottom: 160px;
  margin: 0 auto;
  color: var(--text-color);
}
.main2 .container .buttom {
  position: relative;
  margin: 0 auto;
  background-color: var(--accent-color);
  border-radius: 100px;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  padding: 10px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  bottom: 115px;
  left: 90px;
}
.aside-2 {
  position: relative;
  display: flex;
  width: 100%;
  height: 540px;
  top: 440px;
}
.aside-2 .image-main2 {
  width: 470px;
  height: 300px;
  overflow: hidden;
}
.aside-2 .image-main2 img {
  position: relative;
  width: 406px;
  height: 600px;
  left: 30px;
  top: -120px;
}
.aside-2 .asidetitle2 h2 {
  width: min-content;
  margin: 0;
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 58px;
  line-height: 78px;
}
.aside-2 .p-main2 {
  display: inline-block;
}
.aside-2 .p-main2 h2 {
  position: absolute;
  width: 452px;
  height: 134px;
  top: 50px;
  left: 409px;
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  color: var(--text-color);
}
.aside-2 .p-main2 p {
  position: absolute;
  opacity: 0.8;
  width: 690px;
  height: 72px;
  left: 409px;
  top: 190px;
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-color);
}
.aside-2 .p-main2 .image-collection-main2 {
  position: relative;
  left: 409px;
  width: 100%;
  height: 150px;
}
.aside-2 .p-main2 .image-collection-main2 div {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
}
.aside-2 .p-main2 .image-collection-main2 div img {
  width: 26px;
  height: 26px;
}
.aside-2 .p-main2 .image-collection-main2 div span {
  width: 125px;
  height: 44px;
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
}
.aside-2 .p-main2 .image-collection-main2 button {
  background-color: var(--accent-color);
  border-radius: 100px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  bottom: 115px;
  left: 90px;
}
.menu {
  position: absolute;
  width: 653px;
  height: 134px;
  left: 350px;
  top: 2300px;
}
.menu h2 {
  margin: 0;
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 67px;
  text-align: center;
  color: var(--text-color);
}
.menu-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  left: 10px;
  top: 780px;
}
.menu-1 .buttoms {
  background-color: white;
  border-radius: 50px;
  border: 0.1px solid transparent;
  margin: 0 10px;
  padding: 10px 17px;
}
.buttoms:hover,
.buttoms:focus {
  background-color: #f54748;
  color: #ffffff;
}
.secundary {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  left: 20px;
  top: 900px;
}
.secundary .contener {
  background-image: url(../images/background-product.png);
  width: 310px;
  height: 368px;
  margin-right: 10px;
  margin-top: 5%;
  margin-bottom: 7%;
}
.secundary .contener .image-secundary {
  position: relative;
  width: 253.93px;
  height: 253.93px;
  left: 30px;
  top: -100px;
  border-radius: 50%;
}
.secundary .contener .image--contener-clients {
  position: relative;
  width: 156px;
  height: 38px;
  left: 100px;
  bottom: 100px;
  align-items: center;
  margin: 0;
}
.secundary .contener .image--contener-clients .img1 {
  width: 70px;
  height: 34px;
}
.secundary .contener .image--contener-clients .img2 {
  width: 28px;
  height: 28px;
}
.secundary .contener .image--contener-clients div {
  display: inline-block;
  width: 72px;
  height: 28px;
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  max-width: fit-content;
  color: var(--text-color);
}
.secundary .contener .title-main {
  position: relative;
  max-width: max-content;
  height: 43px;
  left: 100px;
  bottom: 130px;
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: var(--text-color);
}
.secundary .contener .p-secundary {
  opacity: 0.8;
  position: relative;
  text-align: center;
  width: 240px;
  font-weight: 400;
  font-size: 16px;
  font-family: "Sofia Pro", sans-serif;
  bottom: 160px;
  margin: 0 auto;
  color: var(--text-color);
}
.secundary .contener .buttom {
  position: relative;
  margin: 0 auto;
  background-color: var(--accent-color);
  border-radius: 100px;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  padding: 10px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  bottom: 98px;
  left: 90px;
}
.aside-final {
  position: relative;
  width: 550px;
  max-width: fit-content;
  right: 340px;
  top: 950px;
  margin: 0;
}
.aside-final h2 {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 67px;
  color: var(--text-color);
}
.aside-final p {
  width: 550px;
  height: 72px;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  color: var(--text-color);
}
.aside-final .aside-final-buttons img {
  width: 135px;
  height: 40px;
}
.aside-final .aside-final-chef {
  position: absolute;
  z-index: -100;
  left: 805px;
  top: -120px;
  width: max-content;
  background: none;
}
.aside-final .aside-final-chef img {
  width: 473.75px;
  height: 680.57px;
}
.footer-final {
  position: relative;
  display: flex;
  width: 100%;
  top: 1140px;
}
.footer-final .first-foot-item {
  width: 320px;
  height: 168.98px;
  margin: 5%;
}
.footer-final .first-foot-item h3 {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  color: #f54748;
}
.footer-final .first-foot-item p {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
}
.footer-final .first-foot-item img {
  margin: 5px;
  cursor: pointer;
}
.footer-final .second-foot-item {
  width: 120px;
  height: 188px;
  margin: 5%;
}
.footer-final .second-foot-item h3 {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #f54748;
}
.footer-final .second-foot-item p {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
}
.footer-final .second-foot-item ul {
  list-style: none;
  padding: 0;
}
.footer-final .second-foot-item ul li {
  margin: 10px;
  color: var(--text-color);
}
.footer-final .third-foot-item {
  width: 136px;
  height: 188px;
  margin: 5%;
}
.footer-final .third-foot-item h3 {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #f54748;
}
.footer-final .third-foot-item p {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
}
.footer-final .third-foot-item ul {
  list-style: none;
  padding: 0;
}
.footer-final .third-foot-item ul li {
  color: var(--text-color);
  margin: 10px;
}
.footer-final .four-foot-item {
  width: 489px;
  height: 195px;
  margin: 5%;
}
.footer-final .four-foot-item h3 {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  color: #f54748;
}
.footer-final .four-foot-item p {
  font-family: "Sofia Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: var(--text-color);
}
.footer-final .four-foot-item input {
  background: #19191925;
  border-radius: 38px;
  width: 150px;
  height: 40px;
  color: var(--text-color);
  border: none;
  padding-left: 15px;
}
.footer-final .four-foot-item button {
  display: inline;
  width: 90px;
  height: 40px;
  background-color: var(--accent-color);
  border-radius: 100px;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  color: var(--text-color);
}
.footer-main2 {
  position: absolute;
  right: 45.88%;
  color: var(--text-color);
  bottom: -50%;
}
#containerCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.modal {
  z-index: 1003;
  top: 40%;
  display: block;
  opacity: 1;
  position: fixed;
  left: 0;
  right: 0;
  background-color: #fafafa;
  padding: 24px;
  height: 20%;
  width: 30%;
  margin: 0 auto;
  border-radius: 30px;
  will-change: top, opacity;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}
.modal-overlay {
  position: fixed;
  z-index: 999;
  opacity: 0.6;
  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
}
#theme-toggler {
  position: relative;
  left: 25%;
  inline-size: 50%;
}
